body {
    font-family: monospace;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#msg {
    font-family: monospace;
}

.light-theme {
    color: #000000;
    background-color: #00FF00;
}